* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 12vw;
  color: white;
  background-color: #303a4b;
}

button {
  border: none;
  padding: 1vh 1vw;
  border-radius: 0.5rem;
  color: white;
  background-color: #0097e6;
  cursor: pointer;
}

button:hover {
  background-color: #0077b6;
}

input {
  border: none;
  border-radius: 0.3rem;
  min-height: 4vh;
  padding: 0.5rem;
}

.hidden {
  display: none !important;
}

/* Navbar Section */
#navbar {
  display: flex;
  justify-content: space-between;
}

#navbar-logo,
#navbar-buttons {
  display: flex;
  align-items: center;
  padding: 3vh;
  gap: 1vw;
  cursor: pointer;
}

#navbar-logo img {
  width: 3vw;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Hero Section */
#home-section {
  margin-top: 20vh;
  text-align: center;
  font-size: x-large;
  line-height: 1.6;
}

/* Signup Section */
#signup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  margin-top: 20vh;
  padding: 2vh 2vw;
}

/* Signin Section */
#signin-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  margin-top: 20vh;
  padding: 2vh 2vw;
}

/* Todos Section */
#todos-section {
  display: flex;
  margin-top: 20vh;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

#todos-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1vh;
  max-height: calc(100vh - 150px);
  padding: 1rem;
  overflow-y: auto;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

#create-todo {
  display: flex;
  gap: 1vw;
  align-items: center;
}

/* Responsiveness */
@media (max-width: 768px) {
  body {
    padding: 0 0;
  }
  #hero-section {
    font-size: large;
  }
  #create-todo {
    flex-direction: column;
  }
}
